@charset "utf-8";
/* CSS Document */


.auto-resizable-iframe {
  max-width: 1920px;
  margin: 0px auto;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 56.25%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.fa {
	padding-right: 2px;
}
.w3-bar .w3-button {
    padding: 16px;
	padding-top: 17px;
}
.w3-bottom-padding-small {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 8px;
	padding-bottom: 8px;
}

/* Container for the bibliography */
.csl-bib-body {
  margin: 1em 0;
  padding: 0;
  list-style: none;
  font-family: serif;
  font-size: 0.95rem;
}

/* Individual entries */
.csl-entry {
  margin-bottom: 0.5em;
  text-indent: -1.5em;   /* Hanging indent */
  padding-left: 1.5em;
}

/* If entries have labels (e.g. [1], (Kolaja 2024)) */
.csl-left-margin {
  display: inline-block;
  min-width: 2em;
}

.csl-right-inline {
  display: inline;
}

.header-button {
	padding-top:6px;
	margin-top:6px;
	padding-bottom:6px;
	line-height:1.0;
	font-size:2vw;
}

.header-container {
  margin-left: 5%;
  margin-right: 5%;
  max-width: 1200px;  /* or whatever max width you want */
  margin: auto;       /* keeps it centered horizontally */
}

@media (max-width: 1200px) {
  .header-container {
  padding-left: 2%;
  padding-right: 2%;
  margin: auto;       /* keeps it centered horizontally */
  }
}

.w3-container {
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  max-width: 1200px;  /* or whatever max width you want */
  margin: auto;       /* keeps it centered horizontally */
}

@media (max-width: 700px) {
  .w3-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 4%;
    padding-right: 4%;
  }
}


h1 {
  font-size: clamp(48px, 3vw, 60px);
}

h2 {
  font-size: clamp(40px, 2.5vw, 50px);
  margin-top: 32px;
}

h3 {
  font-size: clamp(32px, 2vw, 40px);
}

h4 {
  font-size: clamp(28px, 1.75vw, 35px);
}

h5 {
  font-size: clamp(24px, 1.5vw, 30px);
}

h6 {
  font-size: clamp(21px, 1.4vw, 27.5px);
}

.footer-text{
  font-size: clamp(14px, 1.0vw, 20px)
}

.publication-title{
  font-size: clamp(22px, 1.4vw, 28px);
  line-height: 1.1;
}

.anchor {
    display: block;
    position: relative;
    top: -72px;
    visibility: hidden;
}