@charset "utf-8";
/* CSS Document */


.fa {
	padding-right: 2px;
}
.w3-bar .w3-button {
    padding: 16px;
	padding-top: 17px;
}
.w3-bottom-padding-small {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.header-button {
	padding-top:6px;
	margin-top:6px;
	padding-bottom:6px;
	line-height:1.0;
	font-size:2vw;
}

.header-container {
  padding-left: 7.5%;
  padding-right: 7.5%;
  width:100%;
  margin: auto;       /* keeps it centered horizontally */
}

@media (max-width: 1200px) {
  .header-container {
  padding-left: 2%;
  padding-right: 2%;
  width:100%;
  margin: auto;       /* keeps it centered horizontally */
  }
}

.w3-container {
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  max-width: 1200px;  /* or whatever max width you want */
  margin: auto;       /* keeps it centered horizontally */
}

@media (max-width: 700px) {
  .w3-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 4%;
    padding-right: 4%;
  }
}


h1 {
  font-size: clamp(48px, 3vw, 60px);
}

h2 {
  font-size: clamp(32px, 2vw, 40px);
}

h3 {
  font-size: clamp(32px, 2vw, 40px);
}

h4 {
  font-size: clamp(28px, 1.75vw, 35px);
}

h5 {
  font-size: clamp(24px, 1.5vw, 30px);
}

h6 {
  font-size: clamp(18px, 1.25vw, 25px);
}


